<h3>{{title}}</h3>

<div class="horizontal-buttons">
  <button mat-raised-button color = "primary" (click) = "btnClick(1)">
    <mat-icon>exposure_plus_1</mat-icon>
  </button>
  <button mat-raised-button color = "primary" (click) = "btnClick(2)">
    <mat-icon>exposure_plus_2</mat-icon>
  </button>
  <button mat-raised-button color = "accent" (click) = "btnClick(-1)">
    <mat-icon>exposure_minus_1</mat-icon>
  </button>
  <button mat-raised-button color = "accent" (click) = "btnClick(-2)">
    <mat-icon>exposure_minus_2</mat-icon>
  </button>
</div>
