<mat-card>
  <mat-card-title>Select</mat-card-title>
  <mat-card-content>
    <section>
      <p>Select the field that you need:</p>
      <mat-radio-group [(ngModel)] = "fieldname">
        <mat-radio-button value = "button">Button</mat-radio-button>
        <mat-radio-button value = "checkbox">Checkbox</mat-radio-button>
        <mat-radio-button value = "progressbar">Progress Bar</mat-radio-button>
      </mat-radio-group>
    </section>

    <br><br>

    <section [ngSwitch] = "fieldname">
      <button  *ngSwitchCase = "'button'" mat-raised-button color = "warn">Button</button>
      <mat-checkbox *ngSwitchCase = "'checkbox'">Checkbox</mat-checkbox>
      <mat-progress-bar color = "warn" mode = "indeterminate" *ngSwitchCase = "'progressbar'"></mat-progress-bar>
    </section>

  </mat-card-content>
</mat-card>
